@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif; ;
}
.padded{
    padding-top: 90px;
    padding-bottom: 90px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 0;
}

nav{
    opacity: .8;
}

#nosotros{
    background-color: rgb(228, 183, 87);
}
#cards figure{
    display: inline-block;
}
#cards {
    text-align: center;
    padding-top: 40px;
}


#pizzas{
    background-color: rgb(151, 137, 110);
}
#panes{
    background-color: rgb(240, 202, 132);
}
#tabla{
    background-color: rgb(240, 202, 132);
}
#pasteles{
    background-color: rgb(221, 116, 116);
}
#contactos{
    background-color: white;
}

.list-group-item.active {
    z-index: 2;
    color: rgb(15, 15, 15);
    background-color: #f9fd0d;
    border-color: #edfd0d;
}



p{
    font-size: 18px;
    letter-spacing: -2px;

}

#main-footer{
    background-color: gray;
    color: #eeeeee;
    padding-top: 45px;
    padding-bottom: 45px;
}